<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if site.data.social-media %}
          <div id="social-media">
          {% assign sm = site.data.social-media %}
          {% for entry in sm %}
              {% assign key = entry | first %}
              {% if sm[key].id %}
                <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i></a>
              {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        
</html>
